img
{
    width: 130px; height: 145px;
}
#section-1
{
    width: 130px; height: 145px;
    margin: 43px 50px;
}
#section-2
{
    width: 205px; height: 40px;
    margin: 0px 15px;
    text-align: center; 
    font-size: 15px; 
    font-weight:800
}